.neon {
  color: #2638ab;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(0, 174, 255),
    0 0 80px rgb(0, 174, 255),
    0 0 90px rgb(0, 174, 255),
    0 0 100px rgb(0, 174, 255),
    0 0 150px rgb(0, 174, 255);
}


#root {
  background-color: linear-gradient(#e66465, #9198e5)!;
}
